<!--The content below is only a placeholder and can be replaced.-->
<div id="cloud-container">
  <div class="slds-global-header">
    <ul>
      <li class="slds-context-bar__item" *ngIf="currentUser">
        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Reminders">
            <span class="slds-truncate" title="Logout">
              <a class="nav-item nav-link" (click)="logout()">Logout</a>
            </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="slds-context-bar">
    <div class="slds-context-bar__primary">
      <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger
      slds-dropdown-trigger_click slds-no-hover">
        <div class="slds-context-bar__icon-action">
          <button class="slds-button slds-icon-waffle_container slds-context-bar__button"
                  title="Description of the icon when needed">
  <span class="slds-icon-waffle">
    <span class="slds-r1"></span>
    <span class="slds-r2"></span>
    <span class="slds-r3"></span>
    <span class="slds-r4"></span>
    <span class="slds-r5"></span>
    <span class="slds-r6"></span>
    <span class="slds-r7"></span>
    <span class="slds-r8"></span>
    <span class="slds-r9"></span>
  </span>
            <span class="slds-assistive-text">Open App Launcher</span>
          </button>
        </div>
        <span class="slds-context-bar__label-action slds-context-bar__app-name">
  <span class="slds-truncate" title="App Name">TaskForce</span>
  </span>
      </div>
    </div>
    <nav class="slds-context-bar__secondary" role="navigation">
      <ul class="slds-grid">
        <li class="slds-context-bar__item slds-is-active">
          <span class="slds-assistive-text">Current Page:</span>
          <a routerLink="home" routerLinkActive="active" class="slds-context-bar__label-action" title="Home">
            <span class="slds-truncate" title="Home">Home</span>
          </a>
        </li>
        <li class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger
        slds-dropdown-trigger_click">
          <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Menu Item">
            <span class="slds-truncate" title="Menu Item">Menu Item</span>
          </a>
          <div class="slds-context-bar__icon-action slds-p-left_none">
            <button class="slds-button slds-button_icon slds-button_icon slds-context-bar__button" aria-haspopup="true"
                    title="Open menu item submenu">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                     xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"/>
              </svg>
              <span class="slds-assistive-text">Open menu item submenu</span>
            </button>
          </div>
          <div class="slds-dropdown slds-dropdown_right">
            <ul class="slds-dropdown__list" role="menu">
              <li class="slds-dropdown__item" role="presentation">
                <a href="javascript:void(0);" role="menuitem" tabindex="-1">
  <span class="slds-truncate" title="Main action">
  <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-right_x-small" aria-hidden="true">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"/>
  </svg>Main action</span>
                </a>
              </li>
              <li class="slds-dropdown__header slds-has-divider_top-space" role="separator">
                <span>Menu header</span>
              </li>
              <li class="slds-dropdown__item" role="presentation">
                <a routerLink="tasks" routerLinkActive="active" role="menuitem" tabindex="-1">
                  <span class="slds-truncate" title="Tasks">Tasks</span>
                </a>
              </li>
              <li class="slds-dropdown__item" role="presentation">
                <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                  <span class="slds-truncate" title="Reminders">Reminders</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="slds-context-bar__item">
          <a routerLink="tasks" routerLinkActive="active" class="slds-context-bar__label-action" title="Tasks">
            <span class="slds-truncate" title="Menu Item">Tasks</span>
          </a>
        </li>
        <li class="slds-context-bar__item">
          <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Reminders">
            <span class="slds-truncate" title="Menu Item">Reminders</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div style="height:100%; width:100% ; background-color: rgb(176, 196, 223); position: relative; z-index: 1;">
    <div style="height:100%" class="slds-brand-band slds-template_default">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
