<div class="slds-grid">
  <div class="slds-col slds-col_padded slds-size_1-of-3">
    <div class="slds-split-view_container slds-is-open">
      <article aria-hidden="false" id="split-view-id" class="slds-split-view slds-grid slds-grid_vertical slds-grow">
        <header class="slds-split-view__header">
          <div class="slds-grid slds-grid_vertical-align-center slds-m-bottom_xx-small">
            <div class="slds-has-flexi-truncate">
              <div class="slds-media slds-media_center">
                <div class="slds-media__figure">
                  <div class="slds-icon_container slds-icon-standard-lead">
                    <svg class="slds-icon" aria-hidden="true">
                      <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#lead"></use>
                    </svg>
                    <span class="slds-assistive-text">Leads</span>
                  </div>
                </div>
                <div class="slds-media__body">
                  <h1 class="slds-text-heading_small slds-text-color_default slds-p-right_x-small">
                    <button class="slds-button slds-button_reset slds-type-focus slds-truncate" aria-haspopup="true"
                            title="">
                        <span class="slds-grid slds-has-flexi-truncate slds-grid_vertical-align-center">
                        <span class="slds-truncate" title="My Leads">Tasks</span>
                        <svg class="slds-button__icon slds-button__icon_right slds-no-flex" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                        </svg>
                        </span>
                    </button>
                  </h1>
                </div>
              </div>
            </div>
            <div class="slds-no-flex slds-grid">
              <button type="button" nglButton variant="neutral" (click)="openTaskDialog()">
                New
              </button>
            </div>
          </div>
          <div class="slds-grid slds-grid_vertical-align-center">
            <p class="slds-text-body_small slds-text-color_weak">
              {{totalTasks}} items • Updated {{timestamp | timeAgo}}</p>
            <div class="slds-no-flex slds-grid slds-col_bump-left">
              <div class="slds-button-group">
                <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-container-more"
                        aria-haspopup="true" title="Display As Split View">
                  <svg class="slds-button__icon" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#side_list"></use>
                  </svg>
                  <svg class="slds-button__icon slds-button__icon_x-small" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                  </svg>
                  <span class="slds-assistive-text">Display As Split View</span>
                </button>
              </div>
              <div class="slds-button-group">
                <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-container"
                        title="Refresh List">
                  <svg class="slds-button__icon" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#refresh"></use>
                  </svg>
                  <span class="slds-assistive-text">Refresh List</span>
                </button>
              </div>
            </div>
          </div>
        </header>
        <div class="slds-grid slds-grid_vertical">
          <div class="slds-split-view__list-header slds-grid">
            <span class="slds-assistive-text">Sorted by:</span>
            <span>Lead Score
                <svg class="slds-icon slds-icon_xx-small slds-icon-text-default slds-align-top" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                </svg>
              </span>
            <span class="slds-assistive-text">- Descending</span>
          </div>
          <div style="height:55vw;overflow: auto">
            <ul aria-multiselectable="true" class="slds-scrollable_y" role="listbox" aria-label="View your tasks."
                *ngFor="let task of taskList">
              <li class="slds-split-view__list-item" role="presentation">
                <a (click)="setSelected(task)" aria-selected="false" role="option"
                   class="slds-split-view__list-item-action slds-grow slds-has-flexi-truncate" tabindex="0">
                  <div class="slds-grid slds-wrap">
                <span class="slds-truncate slds-text-body_regular slds-text-color_default" title="{{task.getName()}}">
                  {{task.getName()}}
                </span>
                    <!--<span class="slds-truncate slds-col_bump-left" title="99">99</span>-->
                  </div>
                  <div class="slds-grid slds-wrap">
                      <span class="slds-truncate" title="Deadline">
                        Deadline: {{(task.getDeadline() | date: 'MM/dd/yyyy') || 'None'}}
                      </span>
                    <!--<span class="slds-truncate slds-col_bump-left" title="Nurturing">Nurturing</span>-->
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="slds-col slds-size_2-of-3">
    <task-detail [taskSelect]="onTaskSelect" (tasksModified)="handleTasksModified()">
    </task-detail>
  </div>
  <create-task [(open)]="taskDialogOpened" (onCreate)="handleCreated($event)" (onClosed)="handleClosed()">
  </create-task>
</div>
