<h1>To Dos</h1>
<form role="form" ng-submit="createToDo()">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name"
               ng-model="todo.name"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="alert alert-info" role="alert" ng-hide="todos && todos.length > 0">
    There are no items yet.
</div>
<form class="form-horizontal" role="form">
    <div class="form-group" ng-repeat="todo in todos">
        <div class="checkbox col-xs-9">
            <label>{{todo.name}}</label>
        </div>
    </div>
</form>